@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.cart-container {
  font-family: "Lora", serif;
  box-sizing: border-box;
  padding: 10px;
}
.cart-container .card {
  border: 1px solid #ccc;
  background-color: #fffaf0;
}
.cart-container .card .button {
  color: #bbab6f;
  border-color: #bbab6f;
}
.cart-container .card .button:hover {
  background-color: #ddd;
  border-color: #bbab6f;
  color: #bbab6f;
}
.cart-container .ant-table-thead > tr > th {
  background-color: #fffaf0;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  text-align: center;
}
.cart-container .ant-table-tbody > tr > td {
  background-color: #fffaf0;
}
.cart-container .quantity-input {
  width: 100px; /* Độ rộng ô nhập số */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 5px;
  margin: 0 5px; /* Khoảng cách giữa các nút */
  border-radius: 5px;
}