.success-container .card {
  background-color: #fffaf0;
}
.success-container .card .button {
  color: #bbab6f;
  border-color: #bbab6f;
}
.success-container .card .button:hover {
  background-color: #ddd;
  border-color: #bbab6f;
  color: #bbab6f;
}