@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap";
$primary-color: #bbab6f;
$secondary-color: #264653;
$border-color: #ddd;
$highlight-color: #bbab6f;
$background-color: #fffaf0;
$text-color: #264653;
$button-padding: 12px 24px;
$card-padding: 15px;
$element-spacing: 25px;
$large-border-radius: 20px;

.contact-page {
  position: relative;
  overflow: hidden;
  background-color: #fffaf0;
  font-family: sans-serif;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/japanese-pattern.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 2;
    z-index: 1;
    opacity: 0.2;
    filter: blur(5px);
  }

  .contact-container {
    font-family: "Lora", serif;
    position: relative;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 0.8s forwards;

    .contact-information {
      width: 100%;
      max-width: 1200px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 40px;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      z-index: 2;
      position: relative;

      .line {
        height: 400px;
        width: 1px;
        background-color: $border-color;
        margin: 0 30px;
      }

      &-left {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .information-item {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          color: $text-color;
          z-index: 2;
          .icon {
            margin-right: 10px;
            color: $primary-color;
          }
        }

        .social-media {
          display: flex;
          gap: 20px;
          margin-top: 20px;
          z-index: 2;
          a {
            font-size: 1.8rem;
            color: $primary-color;
            transition: color 0.3s ease;

            &:hover {
              color: #9b8e5e;
            }
          }
        }
      }

      &-right {
        flex-basis: 45%;
        .information-map iframe {
          width: 100%;
          height: 400px;
          border: 0;
          border-radius: 10px;
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
