@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.footer {
  background: linear-gradient(180deg, #2f2f2f, #3a3a3a);
  padding: 60px 0;
  color: #fff;
  font-family: "Lato", sans-serif;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/wave-pattern2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: 0;
  }

  .footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .footer__logo-small {
      width: 180px;
      height: auto;
      margin-bottom: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .footer__info {
      text-align: center;
      margin-bottom: 20px;

      p {
        .icon {
          margin: 0 5px;
        }
        margin: 5px 0;
        font-size: 16px;
        color: #bbb;
      }
    }
  }

  &__divider {
    border: none;
    border-top: 1px solid #bbab6f;
    margin: 20px 0;
    width: 100%;
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    margin-bottom: 20px;

    .footer__column {
      h4 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #bbab6f;
        border-bottom: 1px solid #bbab6f;
        padding-bottom: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: #fff;
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
              color: #bbab6f;
              transform: translateY(-3px);
            }
          }
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    margin-top: 20px;

    p {
      margin-bottom: 10px;
      font-size: 16px;
      color: #bbb;
    }

    .footer__social-media {
      a {
        margin: 0 15px;
        font-size: 28px;
        color: #fff;
        transition: color 0.3s ease;

        &:hover {
          color: #bbab6f;
        }
      }
    }
  }
}
