.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
}

.breadcrumb-container {
  padding: 20px;
  background-image: url("https://img.freepik.com/premium-photo/set-koi-carps_933530-3237.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  border-radius: 20px;
}

.breadcrumb {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto 0;
}

.breadcrumb-item {
  margin-right: 20px;
}

.breadcrumb-item:last-child {
  margin-right: 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-list-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 20px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  top: 10px;
}

.search-container {
  margin-top: 5px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.breed-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.size-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.banner {
  display: flex;
  margin: 20px 20px;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 400px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.h1 {
  font-size: 30px;
  display: flex;
}
