@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.breed-page-container {
  overflow: hidden;
  font-family: "Lora", serif;
  h1 {
    color: #bbab6f;
    text-align: center;
    margin-bottom: 15px;
    font-family: "Lora", serif;
  }
  .row-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    .left-side {
      padding: 10px;
      height: fit-content;
      border-radius: 5px;
      border: 1px solid #ddd;
      margin-left: 5px;
      width: 280px;
      flex-shrink: 0; // nếu right-side có css thì left-side sẽ không bị thu nhỏ hoặc ảnh hưởng
      .product-list-filter {
        padding: 10px;
        .search-container {
          width: 100%;
          margin-bottom: 10px;
        }
        .filter-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .tree-select {
            width: 100%;
          }
        }
      }
    }
    .right-side {
      box-sizing: border-box; // Đảm bảo padding và border được tính trong chiều rộng
      flex-grow: 1; // sẽ chiếm hết số dòng còn lại
    }
    .banner {
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }
    .fish-list-breed {
      flex-wrap: wrap; // các thẻ product-card sẽ xuống dòng khi bị hết chỗ
      display: flex;
      justify-content: flex-start;
      gap: 8px;
      padding: 15px 0;
    }
  }
}
