@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

$primary-color: #bbab6f;
$secondary-color: #264653;
$border-color: #ddd;
$highlight-color: #bbab6f;
$background-color: #fffaf0;
$text-color: #264653;
$button-padding: 12px 24px;
$card-padding: 15px;
$element-spacing: 25px;
$large-border-radius: 20px;

.bread-page {
  position: relative;
  background-color: $background-color;
  font-family: sans-serif;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/japanese-pattern.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-blend-mode: overlay;
    filter: blur(5px);
    opacity: 0.2;
  }

  .divider {
    border: none;
    border-top: 1px solid #bbab6f;
    margin: 10px 0;
    width: 100%;
  }
  .breed-page-container {
    padding: 30px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lora", serif;
    }

    h1 {
      color: $primary-color;
      text-align: center;
      font-size: 38px;
      margin-bottom: $element-spacing;
      z-index: 2;
      position: relative;
    }

    .breadcrumb-container {
      margin-bottom: $element-spacing;
      z-index: 2;
      position: relative;

      .breadcrumb {
        font-size: 16px;
        font-family: sans-serif;
        a {
          color: $secondary-color;
          &:hover {
            color: $highlight-color;
          }
        }

        .breadcrumb-page {
          color: $primary-color;
        }

        .icon {
          margin-right: 8px;
        }
      }
    }

    .row-container {
      display: grid;
      grid-template-columns: 280px 1fr;
      gap: $element-spacing;
      position: relative;
      z-index: 2;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
      }

      .left-side {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: $large-border-radius;
        padding: 25px;
        position: relative;
        box-shadow: none;

        .product-list-filter {
          .search-container {
            margin-bottom: $element-spacing;
            .ant-input-outlined {
              background-color: rgba(255, 255, 255, 0.7);
              border-width: 1px;
              border-style: solid;
              border-color: #bbab6f;
              border-radius: 15px;

              &:focus,
              &:focus-within {
                // border-color: #000;
                box-shadow: 0 0 0 2px rgba(187, 171, 111, 0.1);
              }
            }
            .ant-input-search {
              border-radius: $large-border-radius;
              background-color: rgba(255, 255, 255, 0.7);
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
              transition: border-color 0.3s ease;

              &:hover,
              &:focus {
                border-color: $primary-color;
                background-color: rgba(255, 255, 255, 1);
              }

              .ant-input {
                font-family: sans-serif;
                font-size: 16px;
                padding: 12px 20px;
              }

              .ant-input-search-button {
                background-color: $primary-color;
                color: white;
                border-radius: $large-border-radius;
                border: none;
                padding: 12px 20px;
                transition: background-color 0.3s ease;

                &:hover {
                  background-color: darken($primary-color, 10%);
                }
              }
            }
          }

          .filter-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
              font-family: "Lora", serif;
              margin-bottom: 15px;
            }

            .button-group {
              display: flex;
              flex-wrap: wrap;
              gap: 15px;

              .filter-button {
                background-color: $border-color;
                color: $text-color;
                border-radius: $large-border-radius;
                padding: $button-padding;
                cursor: pointer;
                border: 1px solid transparent;
                transition: background-color 0.3s, color 0.3s;

                &.selected {
                  background-color: $primary-color;
                  color: white;
                  border-color: $primary-color;
                }
              }
            }

            .price-filter {
              h3 {
                font-family: "Lora", serif;
                margin-bottom: 15px;
              }

              .ant-slider-track {
                background-color: $primary-color;
              }

              .ant-slider-handle {
                border-color: $highlight-color;

                &::after {
                  content: "";
                  position: absolute;
                  inset-block-start: 0;
                  inset-inline-start: 0;
                  width: 12px;
                  height: 12px;
                  background-color: #ffffff;
                  box-shadow: 0 0 0 2px #bbab6f;
                  outline: 0px solid transparent;
                  border-radius: 50%;
                  cursor: pointer;
                  transition: inset-inline-start 0.2s, inset-block-start 0.2s,
                    width 0.2s, height 0.2s, box-shadow 0.2s, outline 0.2s;
                }
              }

              .price-range {
                margin-top: 15px;
                color: $text-color;
                font-size: 16px;
                font-family: sans-serif;
              }
            }
          }
        }
      }

      .right-side {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: $large-border-radius;
        padding: 25px;

        .banner {
          margin-bottom: $element-spacing;

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: $large-border-radius;
            box-shadow: none;
          }
        }

        .top-controls {
          display: flex;
          justify-content: space-between;
          margin-bottom: $element-spacing;

          .pagination {
            margin: 0;
          }

          .sort-container {
            display: flex;
            align-items: center;

            div {
              margin-right: 15px;
              font-size: 16px;
              color: $text-color;
              font-family: sans-serif;
            }

            .ant-select {
              width: 220px;

              .ant-select-selector {
                border-radius: $large-border-radius;
                border-color: $primary-color;
              }
            }
          }
        }

        .filter-tags {
          margin-bottom: $element-spacing;
          display: flex;
          flex-wrap: wrap;
          gap: 15px;

          .ant-tag {
            background-color: $primary-color;
            color: white;
            font-size: 16px;
            padding: 10px 18px;
            border-radius: 25px;
            font-family: sans-serif;

            .ant-tag-blue {
              background: #fffaf0;
              border-color: #bbab6f;
            }
          }
        }

        .fish-list-breed {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 25px;

          @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 576px) {
            grid-template-columns: 1fr;
          }

          .product-card {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: $large-border-radius;
            overflow: hidden;
            transition: transform 0.2s, box-shadow 0.2s;
            border: 1px solid $border-color;
            padding: $card-padding;

            &:hover {
              transform: translateY(-7px);
              box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
            }

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }

            .product-info {
              padding: 15px;
              text-align: center;

              h3 {
                font-size: 18px;
                color: $secondary-color;
                margin-bottom: 10px;
                font-family: "Lora", serif;
              }

              p {
                color: $text-color;
                font-size: 14px;
                font-family: sans-serif;
              }
            }
          }
        }

        .pagination {
          display: flex;
          justify-content: flex-start;
          margin-top: 0;

          .ant-pagination-item {
            border-radius: 50%;
            border: none;

            a {
              color: $secondary-color;
            }

            &:hover {
              background-color: $primary-color;
              a {
                color: white;
              }
            }
          }

          .ant-pagination-item-active {
            background-color: $primary-color;

            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
