@keyframes swim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.loading-container {
  text-align: center;
  margin-top: 50px;

  p {
    color: #bbab6f;
    font-weight: bold;
  }
}
.koi-image {
  width: 150px;
  animation: swim 1s linear infinite, rotate 2s linear infinite;
}
