.admin__layout {
  display: flex;
  height: 100vh;

  .main__content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fffaf0;
    transition: margin-left 0.3s ease;
    width: calc(100% - 80px);
  }
}
