$primary-color: #bbab6f;
$secondary-color: #264653;
$border-color: #ddd;
$highlight-color: #bbab6f;
$background-color: #fffaf0;
$text-color: #264653;
$element-spacing: 25px;
$large-border-radius: 20px;

.staff-order-management {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: $background-color;

  .manage-order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .ant-card-bordered {
    background-color: $background-color;
  }
  .ant-card-body {
    border-radius: 10px;
    background-color: $background-color;
    height: fit-content;
    width: 1200px;
    border: 1px solid #000;
  }
  .order-management-table {
    .card {
      background-color: $background-color;
      width: 1000px;
      height: fit-content;
      border-radius: 5px;
    }

    .ant-table {
      background-color: $background-color;
    }

    .ant-card-bordered {
      border: none;
    }
    .ant-table-thead > tr > th {
      background-color: $background-color;
      font-size: 16px;
      font-weight: 600;
      padding: 16px;
    }
    .ant-pagination {
      .ant-pagination-item-active {
        border-color: #bbab6f;
        color: #bbab6f;
      }
      a {
        border-radius: 5px;
        color: $text-color;
        border-color: #bbab6f;
        &:hover {
          color: #bbab6f;
          background-color: #ddd;
        }
      }
    }
    .ant-table-tbody > tr > td {
      background-color: $background-color;
    }
  }
}
