@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

$primary-color: #bbab6f;
$secondary-color: #264653;
$border-color: #ddd;
$highlight-color: #bbab6f;
$background-color: #fffaf0;
$text-color: #264653;
$element-spacing: 25px;
$large-border-radius: 25px;
$light-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
$soft-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
$hover-transition: all 0.3s ease-in-out;
$gradient: radial-gradient(circle at 50% 50%, #f0e6da, #fffaf0);

.user-history-container {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;

  .layout-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    padding: 30px;
    flex-wrap: wrap;
  }

  .settings-sider {
    width: 250px;
    background-color: $background-color;
    padding: 20px;
    border: 1px solid #000;
    border-radius: $large-border-radius;
    box-shadow: $soft-shadow;
    height: auto;

    h4 {
      font-family: "Lora", serif;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      color: $secondary-color;
    }

    .settings-menu {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        color: $text-color;
        background-color: $background-color;
        border-radius: 10px;
        border: none;
        gap: 10px;
        height: 50px;
        line-height: 50px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #f5f5f5;
        }

        &.active {
          background-color: $highlight-color;
          color: white;
        }
      }

      i {
        color: darken($highlight-color, 15%);
        font-size: 20px;
      }
    }
  }

  .settings-content {
    flex: 1;
    max-width: 800px;
    padding: 0 20px;
    // background-color: $background-color;
    border-radius: $large-border-radius;
    // box-shadow: $soft-shadow;

    .settings-card {
      background-color: $background-color;
      border-radius: 10px;
      border: 1px solid #000;
      padding: 25px;
      margin-bottom: 25px;

      h4 {
        font-family: "Lora", serif;
        font-size: 20px;
        margin-bottom: 20px;
        color: darken($text-color, 10%);
        font-weight: 600;
      }

      form {
        display: flex;
        flex-direction: column;

        .form-row {
          display: flex;
          gap: 20px;
          margin-bottom: 25px;
        }

        .form-column {
          flex: 1;

          label {
            display: block;
            font-size: 14px;
            color: #777;
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            padding: 12px;
            border: 1px solid #000;
            border-radius: 10px;
            margin-bottom: 15px;
            background-color: $background-color;

            &:focus {
              outline: none;
              border-color: $highlight-color;
            }
          }
        }

        button {
          align-self: flex-start;
          padding: 12px 20px;
          border: none;
          border-radius: 20px;
          background-color: $highlight-color;
          color: white;
          font-size: 14px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($highlight-color, 10%);
          }
        }
      }
    }

    .avatar-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 100px;

      .avatar {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
        border: 2px solid #000;
      }

      .change-image-label {
        margin-top: 10px;
        padding: 12px 12px;
        background-color: $background-color;
        color: $highlight-color;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 1px solid $highlight-color;
        font-family: sans-serif;
        font-size: 12px;
        width: 140px;
        text-align: center;
      }

      .change-image-label:hover {
        background-color: $highlight-color;
        color: white;
      }

      input[type="file"] {
        font-size: 14px;
      }
    }
  }
}

.order-history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;

  .ant-card-body {
    background-color: rgba(255, 250, 240, 0.95);
    border-radius: 12px;
    padding: 50px;
    box-shadow: $soft-shadow;
    max-width: 1100px;
  }

  .ant-table {
    width: 100%;
  }

  .ant-table-thead > tr > th {
    background-color: rgba(255, 250, 240, 0.85);
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
  }

  .ant-pagination .ant-pagination-item-active {
    border-color: $highlight-color;
  }

  .ant-pagination a {
    color: $highlight-color;
    border-radius: 6px;
    border-color: $highlight-color;

    &:hover {
      background-color: lighten($highlight-color, 30%);
    }
  }

  .ant-table-tbody > tr > td {
    background-color: rgba(255, 250, 240, 0.85);
  }
}
