@import "https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap";

$primary-color: #bbab6f;
$secondary-color: #264653;
$border-color: #ddd;
$highlight-color: #bbab6f;
$background-color: #fffaf0;
$text-color: #264653;
$element-spacing: 25px;
$large-border-radius: 20px;

.about-us-page {
  position: relative;
  overflow: hidden;
  background-color: $background-color;
  font-family: sans-serif;
  z-index: 2;
  padding: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/japanese-pattern.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 1;
    filter: blur(4px);
    pointer-events: none;
  }

  .about-us-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 50px 20px;
    min-height: 100vh;
    max-width: 100%;
    align-items: start;
    animation: fadeIn 0.8s forwards;
    z-index: 2;

    .about-us-form {
      grid-column: span 1;
      background-color: rgba(255, 255, 255, 1);
      border-radius: $large-border-radius;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      padding: 40px;
      margin: 20px;
      position: relative;
      overflow: hidden;
      z-index: 2;
      border: 2px solid $border-color;

      ul {
        list-style-type: none;
        padding-left: 0;

        li::before {
          content: "-";
          margin-right: 8px;
        }
      }

      h2,
      h3 {
        font-family: "Lora", serif;
        color: $primary-color;
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 1px;
        padding-bottom: 10px;
        border-bottom: 3px solid $highlight-color;
      }

      h2 {
        font-size: 32px;
      }

      h3 {
        font-size: 26px;
        margin-top: 40px;
      }

      .section {
        margin-top: 40px;

        p {
          font-size: 16px;
          line-height: 1.6;
          color: $secondary-color;
          margin-bottom: 20px;
        }
      }

      .introduce-image {
        text-align: center;
        margin: 30px 0;

        img {
          max-width: 100%;
          height: auto;
          border-radius: 12px;
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
          transition: transform 0.4s ease;

          &:hover {
            transform: scale(1.05);
          }
        }

        figcaption {
          margin-top: 10px;
          font-size: 14px;
          color: #777;
          font-style: italic;
        }
      }

      figure {
        margin: 40px 0;
        text-align: center;

        img {
          width: 100%;
          max-width: 1000px;
          height: auto;
          border-radius: 10px;
          object-fit: cover;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.03);
          }
        }

        figcaption {
          margin-top: 10px;
          font-size: 14px;
          color: #666;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .about-us-container {
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .about-us-form {
      padding: 20px;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
