@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.consignment {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fffaf0;
  background-image: url("src/images/background-image.png");
  background-size: 700px;
  background-position: center;
  &__wrapper {
    width: 900px;
    max-height: 100%;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #aca8a8;
    background: #fffaf0;
    // background: rgb(255, 244, 221);
    // background: linear-gradient(
    //   90deg,
    //   rgba(255, 244, 221, 1) 0%,
    //   rgba(251, 216, 206, 1) 30%,
    //   rgba(255, 221, 184, 1) 60%,
    //   rgba(246, 232, 191, 1) 80%,
    //   rgba(255, 244, 221, 1) 100%
    // );
    box-shadow: 5px 5px 5px 0px rgba(9, 5, 5, 0.25);
    h2 {
      margin-bottom: 10px;
    }
  }
  &__form {
    .form {
      display: flex;
      justify-content: space-around;
      border-radius: 10px;
      &__input {
        width: 300px;
      }
      &__image {
        width: 300px;
      }
      label {
        font-size: 14px;
        font-weight: bold;
        color: #555;
      }
      button {
        width: 100%;
        background-color: #333;
        color: #fff;
        padding: 12px;
        margin-top: 20px;
        font-size: 16px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #555;
      }
    }
  }
}
