.header {
  background: linear-gradient(to bottom, #000, #555, #fffaf0);
  padding: 20px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  position: relative;

  .header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header__logo img {
      margin-left: 20px;
      height: 120px;
    }

    .search__bar {
      display: flex;

      .search__input__container {
        position: relative;
        display: flex;
        align-items: center;
        width: 400px;
        .search__icon {
          position: absolute;
          left: 10px;
          color: white;
          font-size: 18px;
        }

        input {
          padding: 10px 10px 10px 40px;
          border-radius: 10px 0 0 10px;
          border: 2px solid white;
          border-right: none;
          font-size: 16px;
          width: 100%;
          background-color: transparent;
          color: white;

          &:focus {
            outline: none;
            box-shadow: 0 0 10px #bbab6f;
          }

          &::placeholder {
            color: #bbb;
            font-weight: 600;
          }
        }
      }

      button {
        background-color: #bbab6f;
        color: white;
        padding: 10px 20px;
        border: 2px solid white;
        border-left: none;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        font-weight: 1000;

        &:hover {
          background-color: #a3945f;
        }
      }
    }

    .user__options {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        display: flex;
        align-items: center;
        color: #bbab6f;
        text-decoration: none;
        font-size: 16px;
        font-weight: 1500;

        .fa__icon {
          margin-right: 8px;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  &__menu {
    padding-top: 20px;
    position: relative; /* Thanh menu sẽ chỉ cố định khi người dùng cuộn */
    z-index: 1001;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 30%, #fffaf0 100%);
      animation: slideDown 0.3s ease-in-out;
    }

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }

    .nav__links {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        font-size: 18px;
        li {
          list-style: none;
          color: #bbab6f;
          padding-bottom: 10px;
        }
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.4s;
        margin: 10px;

        &:hover {
          color: #bbab6f;
        }
      }
    }
  }

  .language {
    cursor: pointer; // Change cursor to pointer when hovering over the language label
    color: #bbab6f;
  }

  .language__dropdown {
    position: absolute;
    top: 60px; // Adjust as necessary
    right: 20px; // Align with the user options
    background-color: #fff; // Background color
    border: 1px solid #ccc; // Border
    border-radius: 5px; // Rounded corners
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Shadow for depth
    z-index: 1000;

    div {
      padding: 10px 15px;
      cursor: pointer; // Change cursor to pointer on dropdown items
      color: #bbab6f; // Text color

      &:hover {
        background-color: #bbab6f; // Change background color to #bbab6f on hover
        color: white; // Optional: Change text color for better contrast
      }
    }
  }
}
