.header {
  background: linear-gradient(180deg, #2f2f2f, #3a3a3a);
  padding: 20px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  position: relative;

  z-index: 1; /* Đảm bảo header ở dưới thanh tìm kiếm khi cần thiết */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/wave-pattern2.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
  }

  .header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;

    .header__logo img {
      height: 120px;
    }

    .search__bar {
      display: flex;
      flex-shrink: 0;
      z-index: 3;
      .search__input__container {
        position: relative;
        display: flex;
        align-items: center;
        width: 400px;
        .search__icon {
          position: absolute;
          left: 10px;
          color: white;
          font-size: 18px;
        }

        input {
          padding: 10px 10px 10px 40px;
          border-radius: 30px 0 0 30px;
          border: 2px solid white;
          border-right: none;
          font-size: 16px;
          width: 100%;
          background-color: transparent;
          color: white;

          &:focus {
            outline: none;
            box-shadow: 0 0 10px #bbab6f;
          }

          &::placeholder {
            color: #bbb;
            font-weight: 600;
          }
        }
      }

      button {
        background-color: #bbab6f;
        color: white;
        padding: 10px 20px;
        border: 2px solid #fff;
        border-left: none;
        border-radius: 0 30px 30px 0;
        cursor: pointer;
        font-weight: 1000;

        &:hover {
          background-color: #a3945f;
        }
      }
    }

    .user__options {
      display: flex;
      align-items: center;
      gap: 30px;
      width: 390px;
      z-index: 3;
      a {
        display: flex;
        align-items: center;
        color: #bbab6f;
        text-decoration: none;
        font-size: 16px;
        font-weight: 1500;

        .fa__icon {
          margin-right: 8px;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  &__menu {
    padding-top: 20px;
    position: relative;
    z-index: 2;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, #2f2f2f, #3a3a3a);
      animation: slideDown 0.3s ease-in-out;
      z-index: 1001;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../images/wave-pattern2.png");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.1;
        z-index: -1;
      }
    }

    @keyframes slideDown {
      from {
        transform: translateY(-100%);
      }
      to {
        transform: translateY(0);
      }
    }

    .nav__links {
      z-index: 3;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        font-size: 18px;
        li {
          list-style: none;
          color: #bbab6f;
          padding-bottom: 10px;
        }
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.4s;
        margin: 10px;

        &:hover {
          color: #bbab6f;
        }
      }

      .dropdown-menu {
        width: 150px;
        height: fit-content;
        text-align: start;
        top: 150%;
        left: 0;
        display: block;
        position: absolute;
        background-color: #fffaf0;
        list-style: none;
        margin: auto 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        .menu-item {
          padding: 10px 20px;
          transition: background-color 0.3s ease;
          border-bottom: 1px solid #ddd;
          &:hover {
            background-color: #f0f0f0;
            cursor: pointer;
            a {
              color: #bbab6f;
            }
          }
        }
        .menu-item:last-child {
          border-bottom: none;
        }
        a {
          text-decoration: none;
          color: #333;
        }
      }
      .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
      }
      .dropdown {
        position: relative;
      }
    }
  }

  .language {
    cursor: pointer;
    position: relative;
    color: #bbab6f;
    display: flex;
    align-items: center;

    &:hover {
      color: white;
    }

    .fa__icon {
      margin-right: 8px;
    }
  }

  .language__dropdown {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    div {
      padding: 10px 15px;
      cursor: pointer;
      color: #bbab6f;

      &:hover {
        background-color: #bbab6f;
        color: white;
      }
    }
  }
}
