$primary-color: #bbab6f;
$secondary-color: #264653;
$border-color: #ddd;
$highlight-color: #bbab6f;
$background-color: #fffaf0;
$text-color: #264653;
$button-padding: 12px 24px;
$card-padding: 15px;
$element-spacing: 25px;
$large-border-radius: 20px;

.all-fish-page-form {
  position: relative;
  z-index: 2;
  background-color: $background-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../images/japanese-pattern.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.2;
    z-index: 1;
    pointer-events: none;
    filter: blur(5px);
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .all-fish-page-container {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    font-family: sans-serif;
    padding: 20px;
    z-index: 2;
    .fish-banner {
      margin-bottom: $element-spacing;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: $large-border-radius;
        box-shadow: none;
      }
    }

    .fish-list {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      margin: 20px auto;
      background-color: rgba(255, 255, 255, 0.5);

      border-radius: $large-border-radius;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
      padding: 40px;
      position: relative;
      z-index: 2;

      .product-card {
        z-index: 3;
        opacity: 1;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.05);
        }
      }

      &:hover .nav__button {
        opacity: 1;
      }

      .nav__button {
        display: flex;
        align-items: center;
        background-color: #bbab6f;
        border: none;
        border-radius: 50%;
        color: white;
        padding: 12px 18px;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.4s, transform 0.4s;
        opacity: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 2;

        &:hover {
          opacity: 1;
          background-color: #bbab6f;
          transform: scale(1.1);
        }

        &.left {
          margin-right: 15px;
        }

        &.right {
          margin-left: 15px;
        }
      }
    }

    .breed-link {
      font-family: "Lora", serif;
      font-size: 32px;
      font-weight: bold;
      color: #bbab6f;
      text-align: center;
      margin-bottom: 20px;
      text-decoration: none;
      transition: color 0.3s, background-color 0.3s;

      .breed-title {
        font-family: "Lora", serif;
        font-size: 36px;
        font-weight: bold;
        color: #bbab6f;
        text-align: center;
        margin: 20px 0;
        transition: 0.3 ease;

        &:hover {
          color: #9c8f5d;
          scale: 1.15;
        }
      }

      &:hover {
        background-color: #bbab6f;
        padding: 10px;
        border-radius: 8px;
        color: white;
      }
    }
  }
}
