@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.cart-container {
  font-family: "Lora", serif;
  box-sizing: border-box;
  padding: 10px;

  .card {
    border: 1px solid #ccc;
    background-color: #fffaf0;

    .button {
      color: #bbab6f;
      border-color: #bbab6f;
      border-radius: 20px;
      &:hover {
        background-color: #ddd;
        border-color: #bbab6f;
        color: #bbab6f;
      }
    }
    .button-main {
      color: #fffaf0;
      border-color: #bbab6f;
      background-color: #bbab6f;
      border-radius: 20px;
      &:hover {
        background-color: #ddd;
        border-color: #bbab6f;
        color: #bbab6f;
      }
    }
  }
  .ant-table-thead > tr > th {
    background-color: #fffaf0;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    text-align: center;
  }

  .ant-table-tbody > tr > td {
    background-color: #fffaf0;
  }
}
.quantity-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 5px;
  width: fit-content;
  border-radius: 20px;

  span {
    width: 60px;
    text-align: center;
    display: inline-block;
  }
  .button-quantity {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease !important;
    color: #333 !important;
    border: none !important;
  }

  .button-quantity:hover {
    background-color: #ddd !important;
    color: #333 !important;
  }
}
