.search-bar-container {
  position: relative;
  z-index: 1000; /* Đảm bảo thanh tìm kiếm và gợi ý luôn ở trên cùng */
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  padding: 10px 10px 10px 40px;
  width: 400px;
  height: 43.11px;
  padding: 10px 20px;
  font-family: sans-serif;
  background-color: white;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 30px 0 0 30px;
}

.react-autosuggest__input--focused {
  outline: none;
  border-color: #fff;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 999;
}
