$color_1: #bbab6f;
$font-family_1: "Lora";
$font-family_2: sans-serif;

$background-ogon: url("../../images/ogon.jpg") no-repeat center center / cover;
$background-ochiba: url("../../images/ochiba.jpg") no-repeat center center /
  cover;
$background-kohaku: url("../../images/kohaku.jpg") no-repeat center center /
  cover;
$background-kujaku: url("../../images/kujaku.jpg") no-repeat center center /
  cover;

@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap";

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-grid,
.news-grid,
.farm-grid {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.product-card,
.news-card {
  width: 200px;
  text-align: center;

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.component {
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: opacity 0.3s ease-in-out;
  color: #ffffff;

  &.ogon {
    background: $background-ogon;
  }

  &.ochiba {
    background: $background-ochiba;
  }

  &.kohaku {
    background: $background-kohaku;
  }

  &.kujaku {
    background: $background-kujaku;
  }

  &.animate {
    opacity: 1;
    animation: slideIn 0.6s ease forwards;
  }

  .demo {
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }

    .content {
      flex: 1;
      position: relative;
      z-index: 2;
      background: transparent;
      padding: 20px;
      border-radius: 8px;
      h2 {
        font-family: $font-family_1;
        color: $color_1;
      }
      p {
        font-family: $font-family_2;
      }
    }

    iframe {
      flex: 1;
      margin: 20px;
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }
}
