.about__farm {
  position: relative;
  text-align: center;
  padding: 40px 0px;
  background-color: #fffaf0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/images/background.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    filter: blur(5px);
    opacity: 0.5;
  }

  h2 {
    font-family: "Lora";
    font-size: 32px;
    color: #5e5638;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    -webkit-text-stroke: 1px #bbab6f;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .farm__video {
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
    iframe {
      width: 100%;
      height: 500px;
      border: none;
    }
  }
}
