@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.check-out-container {
  padding: 40px;
  border-radius: 10px;
  .check-out-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Lora";
    .button {
      color: #bbab6f;
      border-color: #bbab6f;
      &:hover {
        background-color: #ddd;
        border-color: #bbab6f;
        color: #bbab6f;
      }
    }

    p {
      word-wrap: break-word; // Đảm bảo nội dung sẽ ngắt dòng khi không đủ chỗ.
      overflow-wrap: break-word; // Tương tự như wordWrap, nó xử lý các từ dài không có dấu cách và buộc chúng phải xuống dòng.
      word-break: break-word; // hoặc break-all nếu vẫn chưa ngắt dòng
      white-space: normal; //Giúp văn bản tự động xuống dòng.
    }

    p,
    h2 {
      font-family: serif;
      color: #bbab6f;
    }
    .form-left,
    .form-right {
      background-color: #fffaf0;
      padding: 30px;
      border-radius: 8px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
    }

    .form-left {
      background-color: #fffaf0;
      width: 1000px;
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .ant-table-cell {
        background-color: #fffaf0;
      }
      .ant-table {
        border-radius: 5px;
        overflow: hidden;
        font-family: serif;
      }

      .ant-table-summary {
        font-weight: bold;
      }

      .ant-radio-group {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: end;
        .ant-radio-button-wrapper {
          border-radius: 4px;
          padding: 10px;
        }
      }
    }

    .form-right {
      flex-wrap: wrap;
      width: 400px;
      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #555;
      }
    }
  }
}
