@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$color_1: #bbab6f;
$font-family_1: "Lora";
$font-family_2: sans-serif;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #fffaf0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}
