@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap";
.product-card {
  text-align: center;
  text-decoration: none;
  color: inherit;
  background: #fffaf0;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0.4, 0.8);
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  .product-image {
    margin-top: 20px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: "Lora";
    font-size: 20px;
    margin: 5px 0;
    color: #bbab6f;
  }

  .product-price {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
}
