@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap";
.product-card {
  overflow: hidden;
  height: 600px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: linear-gradient(#f9f9f9, #fffaf0);
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    border-color: #bbab6f;
  }
  .product-image {
    margin-top: 20px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: "Lora";
    font-size: 20px;
    margin: 5px 0;
    color: #bbab6f;
  }

  .product-price {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
}
